<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MachineConnectOEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TPMConnectionString" connectionString="Data Source=AMIT-DEV4\MSSQL2017DEV4;Initial Catalog=MC_BAJAJ;User ID=sa;Password=pctadmin$123;" />
    <!--<add name="TPMConnectionString" connectionString="Data Source=AMIT-LT21\MSSQLEXPRESS17;Initial Catalog=MC_BAJAJ;User ID=sa;Password=pctadmin$123;"/>-->
    <!--<add name="TPMConnectionString" connectionString="Data Source=AMIT-DEV7\SQL2017STD;Initial Catalog=SAC_MGTL;User ID=sa;Password=pctadmin$123;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="EnableLogs" value="true"/>
    <add key="StatusUpdateTimerIntervalInSec" value="10"/>
    <add key="ANDONFlipInterval" value="20"/>
    <add key="ParamRefreshInterval" value="20"/>
    <add key="FontSizeLable" value="16"/>
    <add key="FontSizeParamValue" value="22"/>
    <add key="FontSizeText" value="20"/>
    <add key="PendingActivitiesStartDate" value="2018-11-01"/>

    <!--########### MongoDB Configuration ###########-->
    <add key="MongoConnectionString" value="mongodb://127.0.0.1:27017"/>
    <add key="MongoDatabaseName" value="BajajIOT"/>
    <!--#############################################-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
